.modal {
  @include fixed($b: 0, $r: 0, $l: 0, $t: 0, $z: 200);
  @include flex($ai: stretch, $jc: center);
  width: 100%;
  @include invisible;
  overflow-y: auto;

  @include media-sm {
    height: 100%;
  }

  &__overlay {
    @include flex($ai: center, $jc: center);
    margin: auto;
    background-color: rgba($c-black, 0.9);
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    @include media-sm {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    @include ie-support {
      height: 100%;
    }

    &--full {
      @include media-sm {
        padding: 0;
      }

      @include media-md {
        padding-top: 32px;
        padding-bottom: 32px;
      }
    }
  }

  &.show {
    @include visible;
    opacity: 1;

    .modal__popup {
      animation: showPopup 0.2s ease;
    }

    .modal__close {
      animation: fadeIn 0.2s 0.1s ease forwards;
    }
  }

  &.out {
    .modal__overlay {
      animation: fadeOut 0.2s cubic-bezier(0.5, 0, 0.75, 0) forwards;
    }

    .modal__popup {
      animation: fadeOutUp 0.2s ease forwards;
    }

    &--full {
      .modal__overlay {
        animation: fadeOut 0.2s cubic-bezier(0.5, 0, 0.75, 0) forwards;
      }

      .modal__popup {
        animation: hidePopup 0.2s ease forwards;
      }
    }
  }

  &__close {
    @include flex($ai: center, $jc: center);
    @include absolute($t: 14px, $r: 14px);
    padding: 3px;
    z-index: 201;
    border-radius: 2px;
    transition: background-color 0.2s ease-in-out;
    opacity: 0;

    svg {
      pointer-events: none;

      path {
        fill: $c-black;
      }
    }

    @include hover {
      background: rgba($c-black, 0.05);
    }

    &:focus {
      background: rgba($c-black, 0.05);
    }

    &:active {
      background: rgba($c-black, 0.1);
    }

    &:disabled {
      fill: $c-disabled-text;
    }
  }

  &__hide {
    @include sticky($t: 0, $l: 0, $r: 0, $z: 100);
    @include flex($ai: center, $jc: center);
    width: 100%;
    background-color: $c-white;
    padding: 8px;

    button {
      height: 3px;
      width: 90px;
      background-color: rgba($c-black, 0.1);

      &:focus {
        box-shadow: none;
      }
    }
  }

  &__popup {
    @include flex($fd: column);
    position: relative;
    margin-top: auto;
    width: 100%;
    color: $c-black;
    z-index: 201;

    @include media-sm {
      flex-basis: 380px;
      margin: auto;
    }

    &--full {
      @include media-sm {
        flex-basis: unset;
        margin: auto 0 0;
      }

      @include media-md {
        flex-basis: 380px;
        margin: auto;
        padding-bottom: unset;
      }
    }
  }

  &__controls {
    @include sticky($b: 0, $l: 0, $r: 0, $z: 100);
    @include flex($ai: center, $jc: center);
    background-color: $c-white;
    padding: 20px;
    border-top: 1px solid $c-black;
    width: 100%;
    margin-top: auto;
  }

  &__content {
    @include flex($fd: column, $ai: stretch);
    background-color: $c-white;
    border-radius: 3px;
    width: 100%;
    position: relative;

    @include media-sm {
      min-width: 460px;
      width: 460px;
    }

    &.hide {
      animation: fadeOut 0.1s ease forwards;
    }

    &--lg {
      @include media-sm {
        min-width: 640px;
        width: 640px;
      }
    }

    // avoid undefined class modifyer
    &--sm {
      color: inherit;
    }

    &--full {
      height: 503px;
      position: relative;
      overflow-y: auto;

      @include media-sm {
        min-width: unset;
        width: 100%;
      }

      @include media-md {
        min-width: 460px;
        width: 460px;
      }
    }

    &--adaptive-height {
      height: auto;
      padding-bottom: 19px;
    }

    &--table {
      @include media-xs {
        width: 450px;
      }

      @include media-sm {
        width: 550px;
      }

      @include media-md {
        //upd
        width: 730px;
      }

      @include media-lg {
        width: 1180px;
      }
    }
  }

  &__header {
    padding: 32px 60px 32px 32px;
    border-bottom: 1px solid $c-disabled-text;

    &--warning {
      padding-bottom: 24px;
    }

    &--no-border {
      border-bottom: none;
    }

    &--table {
      padding: 16px 56px 0 20px;

      @include media-xs {
        padding: 32px 60px 8px 32px;
      }
    }
  }

  &__processing {
    border-bottom: 1px solid $c-disabled-text;
  }

  &__title {
    @include font($ff: $f-main, $fs: 32px, $lh: 1.2, $fw: 500, $ls: -0.02em);

    &--center {
      text-align: center;
    }
  }

  &__subtitle {
    @include font($fs: 16px, $lh: 1.2, $c: $c-disabled-text);
  }

  &__main {
    padding: 32px;
    @include flex($fd: column, $ai: stretch);

    &--center {
      flex-direction: row;
      justify-content: center;
    }

    &--column-center {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &--table {
      padding: 0;

      @include media-xs {
        padding: 0 32px 32px;
      }
    }
  }

  &__nft {
    width: 280px;
    margin: 0 auto;
    z-index: 3;
  }

  &__loading {
    @include flex($ai: center, $jc: center);
    margin-bottom: 24px;
  }

  &__stages {
    @include flex($fd: column, $ai: stretch);
    width: 100%;
  }

  &__stage {
    padding: 24px 32px;
    border-bottom: 1px solid $c-disabled-text;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__footer {
    border-top: 1px solid $c-disabled-text;
    padding: 32px;

    &--fc {
      display: flex;
      justify-content: center;
    }

    &--border {
      border-top: 1px solid $c-disabled-text;
    }

    &--border-none {
      border-top: none;
    }
  }

  &__back {
    span {
      line-height: 1;
    }
  }

  &__main-content {
    @include font($fs: 18px, $lh: 1.4, $c: $c-black);
    word-break: break-word;

    &:not(:first-child) {
      margin-top: 16px;
    }

    p:not(:last-child) {
      margin-bottom: 16px;
    }

    p:last-child {
      margin-bottom: 0;
    }

    a:not([class]) {
      @include font($fs: 18px, $lh: 1.4, $c: $c-black);
      border-bottom: 1px solid $c-black;

      @include hover {
        color: $c-brand;
        border-color: $c-brand;
      }
    }

    b {
      font-weight: 500;
    }

    strong {
      font-weight: 600;
    }

    &--center {
      text-align: center;
    }

    &--md,
    &--md a:not([class]) {
      @include font($fs: 16px, $lh: 1.6, $c: $c-black);

      p {
        @include font($fs: 16px, $lh: 1.6, $c: $c-black);
      }
    }

    &--sm,
    &--sm a:not([class]) {
      @include font($fs: 14px, $lh: 1.6, $c: $c-black);

      p {
        @include font($fs: 14px, $lh: 1.6, $c: $c-black);
      }
    }

    + .modal__btn {
      margin-top: 32px;
    }

    + .modal__details {
      margin-top: 32px;
    }

    + .modal__field--group {
      margin-top: 24px;
    }

    &--error {
      color: $c-error;
    }
  }

  &__qr {
    @include flex($jc: center);
    margin-top: 32px;

    &:first-child {
      margin-top: 0;
    }

    + .modal__btn {
      margin-top: 32px;
    }

    + .modal__main-content {
      margin-top: 32px;
    }

    &--blur {
      filter: blur(20px);
      animation: blink 1s linear infinite;
    }
  }

  &__btn-row {
    @include flex;
    margin-top: 32px;

    .modal__btn {
      width: auto;
      flex: 1;

      + .modal__btn {
        margin-top: 0;
        margin-left: 16px;
      }
    }

    + .modal__details {
      margin-top: 16px;
    }
  }

  &__btn {
    margin-top: 11px;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }

    + .modal__btn {
      margin-top: 16px;
    }

    + .modal__main-content {
      margin-top: 32px;
    }

    &--close {
      margin-top: 24px;
    }
  }

  &__transactionBtn {
    margin-top: 16px;
  }

  &__btn-close {
    margin-top: 24px;
  }

  &__details {
    + .modal__submit {
      margin-top: 32px;
    }

    + .modal__btn {
      margin-top: 32px;
    }
  }

  &__submit {
    padding-top: 11px;
    position: relative;
    @include flex($jc: center);

    .error {
      @include absolute($t: -14px);
      @include font($fs: 14px, $lh: 1.4, $c: $c-error);
    }

    .modal__btn {
      margin-top: 0;
    }

    + .modal__main-content {
      margin-top: 32px;
    }
  }

  &__txtBtn {
    padding: 0;
  }

  &__field {
    margin-top: 22px;

    &--sm {
      margin-top: 11px;
    }

    &--group {
      width: 100%;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__info {
    margin-top: 16px;
    @include font($fs: 14px, $lh: 1.6, $c: $c-disabled-text);
  }

  &__checkbox {
    margin-bottom: 21px;
  }

  &__error {
    @include font($fs: 14px, $lh: 1.4, $c: $c-error);
  }

  &__response {
    color: $c-white;
    width: 100%;
    opacity: 0;
    @include absolute($z: -1);
    transform: translateY(30px);

    @include media-md {
      width: 390px;
    }

    &.show {
      z-index: 200;
      animation: fadeInUp 0.3s 0.3s ease forwards;
    }

    .btn {
      margin-top: 60px;
    }
  }

  &__description {
    @include font($fs: 14px, $lh: 1.6, $c: $c-disabled-text);
    margin-top: 32px;
  }

  &__loader {
    @include absolute($t: 0, $l: 0, $r: 0, $b: 0, $z: 202);
    @include flex($jc: center);
    background-color: rgba(255, 255, 255, 0.5);
  }

  &-toggler {
    cursor: pointer;

    &--disabled {
      color: $c-disabled-text;
      pointer-events: none;
    }
  }

  &__recipient {
    @include font($fs: 14px, $lh: 1.6, $c: $c-disabled-text);
  }

  &__menu {
    @include absolute($t: calc(100% - 20px), $z: 400);
    @include invisible;
    border: 1px solid $c-black;
    border-radius: 3px;
    background-color: $c-white;
    width: 100%;

    &--show {
      @include visible;
      animation: fadeInBottom 0.3s ease forwards;
    }
  }

  &__iframe {
    border-radius: 3px;
    display: flex;
    align-items: center;
    background: $c-white;

    iframe {
      min-height: 624px;
      border: none;
      border-radius: 3px;
      width: 100%;
      transform: scale(0.88);

      & > .padding_desktop_main {
        width: 100%;
      }

      & > .main_card {
        background: black;
      }
    }

    @include media-sm {
      padding: 32px;

      iframe {
        transform: scale(1);
        border-radius: $br-xl;
      }
    }
  }
}

@keyframes showModal {
  0% {
    top: 100%;
  }

  100% {
    top: 0;
  }
}

@keyframes hideModal {
  0% {
    top: 0;
  }

  100% {
    top: -100%;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes showPopup {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes hidePopup {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
