.header {
  @include flex($ai: center, $jc: center);
  @include fixed();
  padding: 16px 0;
  background-color: $c-white;
  width: 100%;
  border-bottom: 1px solid rgba($c-disabled-text, 0.5);
  box-shadow: 0px 5px 5px -5px rgba($c-disabled-text, 0.5);
  z-index: 100;

  &__content {
    @include media-xs {
      width: 550px;
      padding: 0 5px;
    }

    @include media-sm {
      width: 730px;
      padding: 0 15px;
    }

    @include media-md {
      //upd
      width: 850px;
    }

    @include media-lg {
      width: 1130px;
    }

    @include media-xl {
      width: 1300px;
    }

    @include media-xxl {
      width: 1510px;
    }

    @include flex();
    width: 1212px;
  }

  &__logo {
    @include font($ff: $f-main, $fs: 16px);
    color: $c-brand;
    h3{
      margin-bottom: 0px;
    }
  }

  &__menu {
    margin-left: auto;
  }

  &__avatar {
    @include flex($jc: flex-end);
    width: 50px;
    img {
      border-radius: 50%;
    }
  }
  &__login {
    margin-left: 16px;
    @include flex();
    grid-gap: 24px;
  }

  &__user {
    @include font($fs: 15px, $fw: 500);
  }
}
